.problem-page-width {
  max-width: 900px;
}

.code-editor-height {
  height: 500px;
}

.submission-editor-height {
  height: 300px;
}

.w-md-editor-toolbar {
  background-color: inherit !important;
}

.w-md-editor {
  height: 100%;
  background-color: inherit;
}

.wmde-markdown-color {
  background-color: inherit;
}