.platform-navbar {
  height: 60px;
}

.center-content-between-header-footer {
  min-height: calc(100vh - 60px - 50px);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mobile-separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0.5rem 0;
}