#navbar-profile-dropdown {
  &::after {
    display: none !important;
  }
}

.platform-navbar {
  height: 60px;
}

.center-content-between-header-footer {
  min-height: calc(100vh - 60px - 50px);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}